* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #0f172a;
    --bg-todo: #1e293b;
    --accent-button: #38bdf8;
    --secondary-accent: #f97316;
    --primary-text: #e5e7eb;
    --secondary-text: #9ca3af;
    --strike-through: #6b7280;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--bg-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    color: var(--primary-text);
}

.app-container {
    height: 100%;
    width: 100%;
    display: flex;
}

.sidebar {
    width: 26%;
    height: 100vh;
    border: 1px solid white;
}

hr {
    margin: 0.5rem 0;
    opacity: 0.6;
}

#todo-title {
    font-size: 2.2rem;
    font-weight: bold;
    padding: 0.5rem;
}

.visually-hidden {
    position: absolute;
    top: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    pointer-events: none;
    white-space: wrap;
}

#todo-categories {
    padding: 0 0.5rem;
    cursor: pointer;
}

#category-list {
    padding: 0 0.5rem;
    list-style-type: none;
}

.main-content {
    width: 74%;
    height: 100vh;
    border: 1px solid sandybrown;
}
