* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #414141;
    color: antiquewhite;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    display: grid;
    place-items: center;
}

p {
    font-size: large;
    font-weight: 700;
}

.circle-div {
    height: 70px;
    width: 70px;
    border: 3px double black;
    background: transparent;
    border-radius: 50%;
}
